.custom-datatable .p-datatable-tbody>tr>td {
  border: 1px solid #0d0e0e;
  /* Change the color as needed */
}

.search-form {
  /* Your specific styles for the search form go here */
  padding: 400px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.custom-datatable .p-datatable-thead>tr>th {
  border: 1px solid #0d0e0e;
  /* Change the color as needed */
}

.search-column:hover span {
  text-decoration: underline;
}

.custom-navbar {
  background-color: #00AA9B;
}

.brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.form {
  padding: 200px;
}

.search-btn:hover {
  background-color: darkgreen;
  /* Change the background color on hover */
  color: white;
  /* Change the text color on hover */
}

.hpage {
  background-color: #03514B;
  height: 100vh;
}

.layout {

  height: 100vh;
}

.logo {
  max-width: 600px;
  border-radius: 25%;
  /* This creates a circular border for the image */
  border: 4px solid #00AA9B;
  /* You can change the color and width of the border */
}

/* src/App.css */
.intro-text {
  padding: 20px;
  background-color: #00AA9B;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.intro-text p {
  margin-bottom: 10px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.p-menuitem-link {
  text-decoration: none !important;
  color: black !important;
}

.p-menubar {
  display: inline-block;
  vertical-align: top;
  border-color: transparent;
  position: absolute;
  left: 100px;
  background-color: transparent;
  padding-top: 5px;
}